@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* ### Primary */
    
    --Pink: hsl(322, 100%, 66%);
--Light-Pink: hsl(321, 100%, 78%);
--Light-Red: hsl(0, 100%, 63%);

/* ### Neutral */

--Very-Dark-Cyan: hsl(192, 100%, 9%);
--Very-Pale-Blue: hsl(207, 100%, 98%);

--body-padding:4em;
--padding:2em;

/* max width for the mini sections images */
--max-width-img: 500px;
}
h1,
h2,
h3{
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    min-height: 100vh;
}
.whole-container{
    min-height: 100vh;
}
header{
    display: flex;
    align-items: center;
    padding: var(--padding);
    justify-content: space-between;
}
header button{
    cursor: pointer;
    padding: .8em 2.3em;
    color: var(--Pink);
    border-radius: 29px;
    background-color: white;
    border: 2px solid var(--Pink);
}
.intro-text{
    display: flex;
    gap: 1em;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.intro-text h1{
    font-size: 3.6em;
    line-height: 1.3em;
}
.intro-text p{
    line-height: 1.3em;
    font-size: 2.5rem;
    margin: 0 3.9em;
}
/* the intro text button */
.get-started{
    border: none;
    border-radius: 23px;
    color: white;
    background-color: var(--Pink);
    padding: 1em 5.5em;
}
/* statistics section */
.statistics{
    gap: 5em;
    display: flex;
    margin: 4em 2em 10em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.statistics-img{
    max-width: 900px;
    width: 100%;
}
.statistics-numbers{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.individual-stats{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}
.individual-stats:nth-child(1):before{
    content: url("images/icon-communities.svg");
    width: auto;
    height: auto;
    margin-left: -8.5em;
}
.individual-stats:nth-child(2):before{
    content: url("images/icon-messages.svg");
    width: auto;
    height: auto;
    margin-left: -8.5em;
}
.individual-stats h1{
    font-size: 4.7em;
} 
/* grow together section */
.grow-together,.flowing-conversations,.your-users{
    gap: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    position: relative;
    line-height: 1.5em;
    font-size: 1.5rem;
}
.grow-together h2,.flowing-conversations h2,.your-users h2{
    margin-bottom: 1em;
}
.grow-together img,.flowing-conversations img,.your-users img{
    max-width: var(--max-width-img);
    width: 100%;
}
.grow-together,.your-users{
    background-color: var(--Very-Pale-Blue);
}
.grow-together::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -112px;
    left: 0;
    background: url('images/bg-section-top-desktop-1.svg') no-repeat center top;
    background-size: 100% 112px;
}
.grow-together::after{
    content: "";
    display: block;
    width: 100%;
    height: 112px;
    position: absolute;
    bottom: -101px;
    left: 0;
    background: url('images/bg-section-bottom-desktop-1.svg') no-repeat center top;
    background-size: 100% 112px;
}
.flowing-conversations{
    flex-direction: row-reverse;
    margin: 8em 0;
}
.your-users::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -112px;
    left: 0;
    background: url('images/bg-section-top-desktop-2.svg') no-repeat center top;
    background-size: 100% 112px;
}
.your-users::after{
    content: "";
    display: block;
    width: 100%;
    height: 112px;
    position: absolute;
    bottom: -101px;
    left: 0;
    background: url('images/bg-section-bottom-desktop-2.svg') no-repeat center top;
    background-size: 100% 112px;
}
.ready{
    gap: 1.5em;
    padding: 2em;
    margin: 10em 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.ready h1{
    font-size: 3em;
    line-height: 1.5em;
}
.ready-btn{
    padding: 1em 9em;
}
footer{
    background-color: var(--Very-Dark-Cyan);
    padding: 10em var(--padding);
    padding-bottom: 0;
    gap: 4em;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}
.contacts{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 0;
}
.phone,.email{
    display: flex;
    gap: 1em;
    align-items: center;
    z-index: 99;
}
.contacts span{
    cursor: pointer;
}
.contacts span:hover{
    text-decoration: underline;
}
.footer-logo{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(165deg) brightness(109%) contrast(101%);
    margin-bottom: 1em;
}
footer::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('images/bg-footer-top-desktop.svg') no-repeat center top;
    background-size: 100% 53px;
    position: absolute;
    top: -53px;
    left: 0;
}
@media (max-width:700px){
    .whole-container{
        text-align: center;
    }
    .statistics-numbers{
        flex-direction: column;
        gap: 3em;
    }
    .grow-together,.flowing-conversations,.your-users{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }
}
/* i'm back */


.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}